@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto|Source+Code+Pro&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}
.scp {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

h3 {
  font-size: px;
}

p {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
code {
  color: rgb(245, 43, 144);
}
.contact-ul > li {
  list-style: none;
  font-size: 18px;
}
.devicons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.devicon:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
.card {
  border: none;
}

.card:hover {
  transform: scale(1.2);
  transition: 0.7s;
}

.card-body {
  background-color: whitesmoke;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .info {
    font-size: 14px;
  }
  .navlinks a {
    font-size: 20px;
  }
  .pfp {
    max-width: 200px;
    max-height: 200px;
  }
  .body {
    overflow-x: hidden;
  }
}
/* end media query */
