@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto|Source+Code+Pro&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.scp {
  font-family: "Source Code Pro", sans-serif;
  font-size: 14px;
}

p {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.contact-ul > li {
  list-style: none;
  font-size: 18px;
}
.devicons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .info {
    font-size: 16px;
  }
}
/* end media query */
