.header {
  position: relative;
  padding: 15px 30px;
}
.h1 {
  font-size: 20px;
  display: flex;
}
.h1 a {
  color: #457bee;
  text-decoration: none;
}
.h1 a:hover {
  transform: scale(1.2);
  transition: transform 0.25s;
}
.themeToggleContainer {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
}
